

.div1 {
 width: 100px;
 height: 100px;
 background-color: yellow;
}
.div2 {
    width: 100px;
    height: 100px;
    background-color: red;

}
.div3 {
    width: 100px;
    height: 100px;
    background-color: green;
    
    
}
.divmom 
 {display: flex;
    flex-direction: column-reverse ;

}


